<!DOCTYPE html>
<html>
<head>
	<title>Programacion IV</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/content.css">
	<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.6/css/boxicons.min.css' rel='stylesheet'>
<!-- or -->
<link href='https://unpkg.com/boxicons@2.0.6/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Sidebar-->
	  <div class="sidebar">
	 	<div class="">
				  <img src="images/uva.png" width="48px">
	 	</div>

		<div class="">
			<img src="images/icons8-bebida.png" width="48px">
	 	</div>

		<div class="">
				<img src="images/icons8-bebida.png" width="48px">
	 	</div>

		<div class="">
			<img src="images/icons8-bebida.png" width="48px">
	 	</div>

		<div class="">
			<img src="images/icons8-bebida.png" width="48px">
	 	</div>

		<div class="">
			<img src="images/icons8-bebida.png" width="48px">
	 	</div>
	 </div>



			  <!--Header-->

			<div class="header">
				<h1>Menu Categoria</h1>



			 <div class="content">
			 		<div class="card-1">
			 			 <img src="images/icons8-corazon.png" width="48px">
						<h5>Favorite</h5>

			 		</div>

					<div class="card-2">
			 			 <img src="images/icons8-hamburguesa.png" width="48px">
						<h5>Burger</h5>
			 		</div>

					<div class="card-3">
			 			 <img src="images/icons8-pizza.png" width="48px">
						<h5>Pizza</h5>
			 		</div>

					<div class="card-2">
			 			 <img src="images/icons8-papas-fritas.png" width="48px">
						<h5>Snack</h5>
			 		</div>

					<div class="card-2">
			 			 <img src="images/icons8-bebida.png" width="48px">
						<h5>Drink</h5>
			 		</div>

					<div class="card-2">
			 		 <img src="images/icons8-cafe.png" width="48px">
						<h5>Coffee</h5>
					</div>

					<div class="card-2">
			 			 <img src="images/icons8-recipiente-de-helado.png" width="48px">
						<h5>Ice Cream</h5>
			 		</div>
			 </div>

			 <h1>Choose Order</h1>

				 <!--Contenidos-->

			 <section id="content-food">

				 <div class="food-1">
					  <img src="images/icons8-hamburguesa.png" width="48px">
					 <h5>Cangre Burger</h5>
					  <h5>$35.40</h5>
				 </div>

				<div class="food-1">
					 <img src="images/icons8-pizza.png" width="48px">
					<h5>Pizza Cheeser</h5>
					 <h5>$35.40</h5>
				</div>

				<div class="food-1">
					 <img src="images/icons8-taco.png" width="48px">
					<h5>Taco Mix</h5>
					 <h5>$35.40</h5>
				</div>

				<div class="food-1">
					 <img src="images/icons8-sushi.png" width="48px">
					<h5>Sushi Salvadoreño</h5>
					 <h5>$35.40</h5>
				</div>

				<div class="food-1">
					 <img src="images/icons8-hamburguesa.png" width="48px">
					<h5>Cangre Burger</h5>
					 <h5>$35.40</h5>
				</div>

			 <div class="food-1">
					<img src="images/icons8-pizza.png" width="48px">
				 <h5>Pizza Cheeser</h5>
					<h5>$35.40</h5>
			 </div>

			 <div class="food-1">
					<img src="images/icons8-taco.png" width="48px">
				 <h5>Taco Mix</h5>
					<h5>$35.40</h5>
			 </div>

			 <div class="food-1">
					<img src="images/icons8-sushi.png" width="48px">
				 <h5>Sushi Salvadoreño</h5>
					<h5>$35.40</h5>
			 </div>

			</section>

			<div class="search">
				<input type="text" placeholder="Buscar">
			</div>


		<h1>Recent Order</h1>


				<div class="footer">
					<div class="footer-food">
						<img src="images/donut.png" width="48px">
						<h5>Dona</h5>
						<h5>$10.00</h5>
					</div>

					<div class="footer-food">
						<img src="images/pan.png" width="48px">
						<h5>Pan</h5>
						<h5>$10.00</h5>
					</div>

					<div class="footer-food">
						<img src="images/papas.png" width="48px">
						<h5>Papas</h5>
						<h5>$10.00</h5>
					</div>

					<div class="footer-food">
						<img src="images/icons8-hamburguesa.png" width="48px">
						<h5>Hamburguesa</h5>
						<h5>$10.00</h5>
					</div>
				</div>
 </div>

<div class="barra-derecha">
	<h1>Orden Menu</h1>
	<hr>
	<h3>Sub Total $25.56</h3>
	<h3>IVA(13%)   $8.53</h3>

	<button type="button" name="button">Ordenar Ahora</button>
</div>

</body>
</html>
