<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head"></head>
<meta charset="UTF-8">
<meta charset="utf-8" />
<title>Productos</title>
</head>
<body>

	<div class="container-fluid">
		<div th:replace="plantilla/template :: sidebar"></div>
		<div class="row">
		<form th:action="@{/updateProducto}" modelAttribute="Producto" method="POST" class="formularios">
			<div class="forms">
				<div class="card-header">
				<h3>Registrar Productos</h3>
				</div>
				<div class="card-body">
				
					<div class="form-group">
						<input hidden name="IdPro" th:field="${Producto.IdProductos}" class="form-control"/>
					</div>
					
					<div class="form-group col-md-6" >
						<label>ID CATEGORIA</label>
						<select name="IdCatFK">
						<option th:each="C:${Listarcateg}" th:field="${Producto.IdCategoria_FK}" th:text="${C.nombre}" th:value="${C.IdCategoria}"> 
						</option>
						</select>
					</div>

					<div class="form-group col-md-6" >
						<label>ID TIPO DE PLATILLO</label>
						<select name="IdPlaFK">
						<option th:each="P:${Listarplati}"  th:field="${Producto.IdTipoPlatillo_FK}" th:text="${P.tipo}" th:value="${P.IdTipoPlatillo}"> 
						</option>
						</select>
					</div>

					<div class="form-group col-md-6" >
						<label>ID TIPO DE BEBIDA</label>
						<select name="IdBebFK">
						<option th:each="B:${Listarbebi}" th:field="${Producto.IdTipoBebida_FK}" th:text="${B.tipo}" th:value="${B.IdTipoBebida}"> 
						</option>
						</select>
					</div>

					<div class="form-group col-md-6" >
						<label>DESCRIPCION</label>
						<input name="Descrip" th:field="${Producto.descripcion}" type="text" class="form-control"/>
					</div>

					<div class="form-group col-md-6" >
						<label>PRECIO</label>
						<input name="prec" th:field="${Producto.precio}" type="text" class="form-control"/>
					</div>
					
					<div class="form-group col-md-6" >
						<label>NOMBRE</label>
						<input name="nom" th:field="${Producto.nombre}" type="text" class="form-control"/>
					</div>
					
					<div class="form-group col-md-6" >
						<label>TAMANIO</label>
						<input name="tama" th:field="${Producto.tamanio}" type="text" class="form-control"/>
					</div>

					<div class="form-group col-md-6">
						<input type="submit" value="Guardar" class="btn btn-info">
					</div>
					
				</div>
				
			</div>
		</form>
		</div>
	</div>

</body>
</html>